<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleExecutable</key>
    <string>Rik</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>NSPrincipalClass</key>
    <string>Rik</string>

    <key>GSThemeVersion</key>
    <string>1.1</string>
    <key>GSThemeDomain</key>
    <dict>
      <key>GSBackHandlesWindowDecorations</key>
      <false/>
      <key>NSMenuInterfaceStyle</key>
      <string>NSMacintoshInterfaceStyle</string>
    </dict>
  </dict>
</plist>
